name: update a comment on a pull_request

on:
  pull_request:
    types: [opened, synchronize]

  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

env:
  ISSUE_NUMBER: ${{ github.event.pull_request.number }}

  # repo details
  REPO_NAME: ${{ github.repository }}
  REPO_OWNER: ${{ github.repository_owner }}

  # who triggered the workflow
  TRIGGERED_BY: ${{ github.actor }}

  # on what branch it is happening
  SOURCE_BRANCH: ${{ github.head_ref }}
  TARGET_BRANCH: ${{ github.base_ref }}

  # commit details
  COMMIT_SHA: ${{ github.sha }}

  # which run? which workflow?
  RUN_ID: ${{ github.run_id }}
  RUN_NUMBER: ${{ github.run_number }}
  WORKFLOW_NAME: ${{ github.workflow }}

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: run dummy validaiton
        run: echo "validation is validating"

  comment:
    needs: validate
    runs-on: ubuntu-latest

    steps:
      - name: update a comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ env.ISSUE_NUMBER }}
          body: |

            who triggered me? ${{ env.TRIGGERED_BY }}
            on what branch? ${{ env.SOURCE_BRANCH }}
            targeting? ${{ env.TARGET_BRANCH }}
            my workflow? ${{ env.RUN_NUMBER }}

            _______________
            comment is getting created
            workflow is triggered
            **Markdown** sparkles
